:root{
  --brown: #87764f;
  --btnHover: #d29022;
  /* --golden: #B98A4C; */
  --light: #a3a3a3;
  --shadow: #1d1d1d;
  --text: #c0bfc2;
  --textHover: #96703F;
  --black: #1e1d22;
  --bgMenu: #101015c0;
  --bgHover: #0d0c0fe3;
  --bg: #37363bcb;
  --bRad: 10px;
}

/* text hover #96703F */
/* bg #37363b */
/* bg hover #4b4a4f */
/* bg menu #2a292e */
select:focus-visible, input:focus-visible{
  outline: none;
}
select{
  background-color: var(--bg);
  cursor: pointer;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  color: var(--text);
  /* overflow: visible !important; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
  color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



