.bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.701);
  backdrop-filter: blur(10px);
  z-index: -10;
  transition: all .2s ease-in;
  opacity: 0;
}
.modalActive{
  opacity: 1;
  z-index: 10000;
}
.modal{
  background-color: var(--black);
  height: 400px;
  width: 400px;
  border: 1px solid var(--textHover);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.message{
  font-size: 1.7rem;
  color: var(--golden);
}
.card{
  border: 1px solid var(--golden);
  width: 300px;
  background-color: var(--bg);
  padding: 20px;
  margin: auto;
  font-size: 1.2rem;
}
.h3{
  color: var(--textHover)
}
.hr{
  border-color: var(--textHover)
}
.btn{
  align-self: center;
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.3rem;
  background-color: var(--golden);
  color: var(--black);
  font-weight:600 ;
}