.card{
  padding: 15px;
  border:1px solid var(--text);
  border-radius: 10px 10px 3px 3px;
  width: 230px;
  position: relative;
}

.card:hover{
  background-color: var(--bgHover);
  border:1px solid var(--textHover);

}
.h3{
  color: var(--textHover)
}
.hr{
  border-color: var(--textHover)
}
.card, .h3  {
  transition: all .1s ease;
}
.deleteIcon{
  background-image: url("../../assets/icons/delete.svg");
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 3px;
  opacity: 0;
  cursor:pointer;
}
.deleteIcon:hover{
  transform: scale(1.1);
}
.card:hover .deleteIcon{
  opacity: 1;
}
.editIcon{
  background-image: url("../../assets/icons/edit.svg");
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left:3px;
  opacity: 0;
  cursor:pointer;
}
.editIcon:hover{
  transform: scale(1.1);
}
.card:hover .editIcon{
  opacity: 1;
}