.card{
  padding: 15px;
  border:1px solid var(--text);
  border-radius: 10px 10px 3px 3px;
  cursor:pointer;
  width: 230px;
}

.card:hover{
  background-color: var(--bgHover);
  border:1px solid var(--textHover);

}
.h3{
  color: var(--textHover)
}
.hr{
  border-color: var(--textHover)
}


.card, .h3  {
  transition: all .1s ease;
}