.form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.inpBtns{
  display: flex;
  align-items: center;
}
.input{
  font-size: 1.2rem;
  height: 1.4rem;
  width: 85%;
  background-color: var(--bg);
  color: var(--golden);
}
.input:focus-visible{
  outline: none;
}
.h2{
  margin-left: 5px;
  color: var(--textHover);
}
.btn{
  width: 10%;
  cursor: pointer;
  margin-left: 3px;
  height: 1.4rem;
  background-color: transparent;
  border: none;
  transition: all 50ms ease;
}
.btn:hover {
  transform: scale(1.07);
}
.btn:active {
  transform: scale(1);
}
.btnReset{
  width: 10%;
  cursor: pointer;
  margin-left: 3px;
  height: 1.4rem;
  background-color: transparent;
  border: none;
  transition: all 50ms ease;
}
.btnReset:hover {
  transform: scale(1.07);
}
.btnReset:active {
  transform: scale(1);
}
.icon{
  height: 25px;
  width: 25px;
}
.iconReset{
  height: 25;
  width: 25;
  transform: scale(1.05);
}

.hr{
  margin-top: 10px;
  border-color: var(--brown);
}