.container{
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  position: relative;
  padding: 10px 5%;
}
/* .background{
  background-color: var(--bg);
  height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  justify-content: space-around;
  z-index: 0;
} */

