/* .container{
  border: 1px solid wheat;
} */
.cardsContainer{
  margin-top: 10px;
  margin-left: 50px;
  padding-top: 50px;
  width: 80vw;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(5,250px);
  grid-auto-rows: 210px;
  gap: 60px 20px;
  justify-content: center;
}
.firstPage{
  margin-top: 10px;
  margin-left: 50px;
  width: 80vw;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(3,320px);
  grid-auto-rows: 220px;
  gap: 20px 60px;
  justify-content: center;
}
.firstPage a:nth-child(-n+9){
  animation: appear3 1s 1;
  animation-timing-function: ease-out;
}
@keyframes appear3{
  0%{opacity: 0;}
  40%{opacity: 0;}
  100%{opacity:1;}
}
.firstPage a:nth-child(-n+6){
  animation: appear2 .8s 1;
}
@keyframes appear2{
  0%{opacity: 0;}
  25%{opacity: 0;}
  100%{opacity:1;}
}
.firstPage a:nth-child(-n+3){
  animation: appear1 .5s 1;
}
@keyframes appear1{
  0%{opacity: 0;}
  100%{opacity:1;}
}


.buttons{
  margin-bottom: 20px;
}
.btn{
  font-size: 1.1rem;
  margin: 3px;
  width: 25px;
  border-radius: .5px;
  background-color: var(--bgMenu);
  color: var(--text);
  border: none;
  transition: all .1s ease;
}
.btn:hover{
  color: var(--btnHover);
  border-color: var(--btnHover);
  transform: scale(1.1);
  outline: 1px solid var(--btnHover);
}
.btn:active{
  transform: scale(1);
}
.active{
  transform: scale(1.1);
  color: var(--btnHover);
  border-color: var(--btnHover);
  outline: 1px solid var(--btnHover);
  box-shadow: inset 0px 0px 4px var(--btnHover);
}
.btnArrow{
  background-color: transparent;
  border: none;
  position: relative;
  top: 18px;
  height: 25px;
  width: 25px;
  display: inline-block;
}
.btnArrow:hover{
  transform: scale(1.3);
}
.btnArrow svg path{
  fill: var(--btnHover);
}
