.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 2rem;
  background-color: #151515;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}
.label{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.input{
  width: 100%;
  margin: .5rem 0px;
  padding: .5rem;
}

