.container{
  position: relative;
  background-color: var(--bg);
  backdrop-filter: blur(2px);
  border: 1px solid var(--textHover);
  width: 90%;
  margin: auto;
  z-index: 1;
}
/* .bg{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  z-index: -1;
} */
