.container{
  min-height: 100vh;
  width: 100vw;
}
.h1{
  font-size: 3.5rem;
  color: var(--text);
  text-shadow: 0px 0px 3px var(--black);
  -webkit-text-stroke: 2.5px var(--black);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.video{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}
.capa1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: .8;
  /* backdrop-filter:  blur(5px); */
  mix-blend-mode: overlay;
}
/* .capa2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(163, 117, 0);
  z-index: -1;
  mix-blend-mode: overlay;
} */

/* backdrop-filter: brightness(60%);
backdrop-filter: contrast(180%);
backdrop-filter: grayscale(100%);
backdrop-filter: hue-rotate(180deg);
backdrop-filter: invert(80%);
backdrop-filter: opacity(50%);
backdrop-filter: saturate(7);
backdrop-filter: sepia(100%);
backdrop-filter: drop-shadow(8px 8px 10px green);
backdrop-filter: none; */
/*  brightness() */


.button {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: .7rem 1rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-weight: bold;
  font-size: 2rem;
  transition: all .15s ease;
  z-index: 2;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 2px solid #303030;
  transition: all .15s ease;
}

.button::before {
  top: -10%;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0%;
  border-top-width: 0;
}
.button:active,
.button:focus {
  outline: none;
}
.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}
.button:active::before {
  top: 0%;
}
.button:active::after {
  bottom: 10%;
  
}
.span_text{
  background-color: #151515;
  color: #ccc;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: none;
  padding: .7rem 1.4rem;
}

.button_bg1{
  backdrop-filter: invert();
  z-index: 100;
  display: inline-block;
  height: 100%;
  width: 145%;
  position: absolute;
  top: 0%;
  left: -145%;
  /* transform:rotate(45deg); */
  transition: all .15s ease;
  /* width: 200%; */

  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);;
}
.button:hover .button_bg1{ 
  left:0%;

}
/* ///////////////////// */

.slideBtn {

	animation: slide-bck-bottom 1s  ease-in;
}

@keyframes slide-bck-bottom {
  0% {
    transform: translate(-50%,200px) scale(2.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%,-50%);
    opacity: 1;
  }
}
.slideH1 {

	animation: slideH1 1s  ease-in;
}

@keyframes slideH1 {
  0% {
    transform: translate(-50%,-150px) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(-50%,-50%);
    opacity: 1;
  }
}
