.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.h2{
  /* border: 1px solid red; */
  color: var(--textHover);
  width: 100%;
  text-align: start;
  margin-left: 3px;
}
.btn{
  background-color: var(--black);
  color: var(--textHover);
  border: 1px solid var(--textHover);
  padding: 3px 7px;
  transition: all .05s ease-out;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.05);
  background-color: var(--textHover);
  color: var(--black);
  border: 1px solid var(--black);
}
.btn:active{
  transform: scale(1);
}
.hr{
  margin-top: 10px;
  border-color: var(--brown);
}