.searchContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input , .button{
font-size: 1.2rem;
margin: 0 2px 2px ;
height: 1.4rem;

}
.input{
  width: 70%;
}
.buttonSearch{
  padding: 0;
  height: 1.4rem;
}
.icon{
height: 100%;

}