.nav{
  border: 3px solid white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding-right: 10vw;
}
.ul{
  /* border: 5px solid rgb(167, 25, 25); */
  display: flex;
  /* width: 320px; */
  justify-content: space-between;
}
.link{
  color: #151515;
  background-color: #ddd;
  border-radius: 2px;
  text-decoration: none;
  padding: .4rem 1rem;
  display: block;
  margin:0 .7rem;
}
.li{
  list-style: none;
  font-size: 1.3rem;
  font-weight: 500;
}
